node_modules
dist
.tmp
.sass-cache
bower_components
.sass-cache
.editorconfig
.DS_Store

target
.idea
*.iml
ESBDoc-plugin/resources/UI/.bowerrc
ESBDoc-plugin/resources/UI/.jshintrc
ESBDoc-plugin/resources/UI/.travis.yml
