$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.searchclear {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}



svg {
  overflow: hidden;
}

.node rect {
  stroke: #333;
  stroke-width: 2.5px;
  fill: #fff;
}

.proxy rect {
  stroke: #00f;
  stroke-width: 2.5px;
  fill: #eef;
}
.sequence rect {
  stroke: #ccc;
  stroke-width: 2.5px;
  fill: #eee;
}
.endpoint rect {
  stroke: #0c0;
  stroke-width: 2.5px;
  fill: #efe;
}
.api rect {
  stroke: #44ff66;
  stroke-width: 2.5px;
}
.messageProcessor rect {
  stroke: #44ff66;
  stroke-width: 2.5px;
}
.messageStore rect {
  stroke: #44ff66;
  stroke-width: 2.5px;
}
.dataservice rect {
  stroke: #44ff66;
  stroke-width: 2.5px;
}


.edgeLabel rect {
    fill: #fff;
}

.edgePath {
    stroke: #333;
    stroke-width: 2.0px;
    fill: none;
}

#dagre {
  width: 100%;
  height: 400px;
  border: 1px solid #ccc;
}
