<div class="container-fluid" ng-init="selected.resource = ''; search = '';">
  <div class="row">
    <div class="col-lg-12" style="border-bottom: 3px solid #39f; margin-bottom: 1em; padding-bottom: 0.5em;">
      <h1>ESBDoc Viewer POC</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="form-group" style="position: relative;">
        <input class="form-control" type="text" ng-model="search" placeholder="Which resource are you looking for?"/>
        <span class="glyphicon glyphicon-remove-circle searchclear" ng-show="search != ''" ng-click="search = ''"></span>
        <style>
          .searchclear {
              position: absolute;
              right: 5px;
              top: 0;
              bottom: 0;
              height: 14px;
              margin: auto;
              font-size: 14px;
              cursor: pointer;
              color: #ccc;
          }
        </style>
      </div>
      <ul class="nav nav-pills nav-stacked" style="max-height: 30em; overflow-y: scroll;">
        <li ng-repeat="(name, value) in searchResourcesFilter(esbDoc.resources, search)" style="width: 100%; overflow-x: hidden;">
          <a href="" ng-click="selected.resource = name" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis; width: 100%;">{{name}}</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-9">

      <svg ng-if="selected.resource" id="dagre" style="width: 100%; height: 800px;">
      </svg>

      <div ng-if="selected.resource">
        <h1>{{esbDoc.resources[selected.resource].type ? esbDoc.resources[selected.resource].type : 'Resource'}}: {{selected.resource}}</h1>
        <p><big>{{esbDoc.resources[selected.resource].purpose}}</big></p>
        <p><b>Receives:</b> {{esbDoc.resources[selected.resource].receives}}</p>
        <p><b>Returns:</b> {{esbDoc.resources[selected.resource].returns}}</p>
        <hr/>
        <h2>Dependencies</h2>
        <h3 ng-if="esbDoc.dependencies.forward[selected.resource]">{{selected.resource}} calls</h3>
        <ul class="nav nav-pills nav-stacked">
          <li ng-repeat="(name, value) in esbDoc.dependencies.forward[selected.resource]" >
            <a href="" ng-click="selected.resource = name">{{name}}, {{value.type}}</a>
          </li>
        </ul>
        <h3 ng-if="esbDoc.dependencies.reverse[selected.resource]">{{selected.resource}} is called by</h3>
        <ul class="nav nav-pills nav-stacked">
          <li ng-repeat="(name, value) in esbDoc.dependencies.reverse[selected.resource]" style="color: #007; cursor: pointer;">
            <a href="" ng-click="selected.resource = name">{{name}}, {{value.type}}</a>
          </li>
        </ul>
      </div>
      <div ng-if="!selected.resource">
        <h2>{{numberOfResources}} resources and {{numberOfDependencies}} dependencies documented</h2>
        <p>Please select a resource from the menu.</p>
      </div>
    </div>
  </div>
</div>
